# PostgreSQL
POSTGRES_DB=providers_db
POSTGRES_USER=providers_user
POSTGRES_PASSWORD=providers_password

# Backend
PORT=3187
FRONTEND_URL=http://localhost:4178
DB_HOST=providers-postgres
DB_PORT=5432
DB_NAME=providers_db
DB_USER=providers_user
DB_PASSWORD=providers_password
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1h

# Frontend
VITE_API_URL=http://localhost:3187/api
